.stylinglogo{
    width: 100px;
    height:80px;

}
#go{
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border:none;
    font-weight: bold;

}
#go:hover{
    color:red;

}
#go1{
    background-color: red;
    color:white;
    padding:5px;
    border-radius: 3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#go1:hover{
    background-color:gray;
    color:red;
}
.bgimg{
    background-image: url(' https://res.cloudinary.com/dxujeg5en/image/upload/v1669302394/modified-mazda-4k-4t_rfmpjx.jpg');
    background-size: cover;
    height:80vh;
}
.head{
    font-size: 40px;
    font-weight: bold;
    color:white;
    font-family: Arial, Helvetica, sans-serif;

}
.paraline{
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: :24px;
}
.button{
    color:white;
    background-color:red;
    width:238px;
    height:45px;
    border-radius:8px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    
}
.bgcolor{
    background-color:aliceblue;

}
.head2{
    color:blueviolet;
    font-family:Arial, Helvetica, sans-serif;
    font: size 28px;
    font-weight:bold;
}
.para2{
    color:blue;
    font-family:Arial, Helvetica, sans-serif;
    font: size 160px;
}
.card{
    text-align:center;
    background-color: bisque;
    border-style:solid;
    border-width:1px;
    border-color:brown;
    border-radius:16px;
}
.cardimage{
    width: 87px;
    height: 98px;
}
.bgcolor3{
    background-color: white;

}
.explorehead{
    color:chocolate;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight:700;
}
.explorecards{
    border-radius: 16px;

}
.exploreimage{
    border-radius: 16px;
}
.cardhead4{
    color:cadetblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight:bold ;
    margin-top:24px;
}
.explorelink{
    color:black;
    font-family:Arial, Helvetica, sans-serif ;
    font-size 14px; ;
    font-weight:bold;
}
.paybdcolor{
    background-color: white;
}
.payhead{
    color:peachpuff;
    font-family:Arial, Helvetica, sans-serif ;
    font-size:30px ;
    font-weight: bold;
}
.paypara{
    color:aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight:bold;
}
.paybutton{
    background-color: azure;
    color:blueviolet;
    width:130px;
    height:45px;
    border:none;
    border-radius: 8px;
    margin-right:10px;
}
.paycarding{
    width:50px;
    height: 50px;
    margin-right: 28px;
}
.paymenting{
       width:80%;
}
#contact {
    background-color: grey;
    padding-bottom:4em;
}
.socialicons{
    font-size:40px;
    cursor:pointer;
}
.icenter{
    text-align:center;
}
.fa-brands{
    color:white;
}
.fa-facebook,.fa-instagram,.fa-linkedin{
    margin:250px;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-linkedin:hover{
    color:red;
}










