body{
    background-image:url("https://tse3.mm.bing.net/th?id=OIP.HWvIm7b9U23KTrMbaEokkAHaEo&pid=Api&P=0");
    background-size:cover;
    height:100vh;
}
h1{
    color:cornsilk;
    font-size:80px;
    font-family:'roboto';
}
