<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <h3>enter name</h3>       
         <input type="text" name="name"/>
         <form method="POST">
        <h3>python</h3>       
         <input type="number" name="python"/>
         <form method="POST">
        <h3>mysql</h3>       
         <input type="number" name="mysql"/>
         <form method="POST">
        <h3>html</h3>       
         <input type="number" name="html"/><br><br/>
         <button>Submit</button>
    </form>
</body>
</html>