<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Registration</title>
</head>
<body>
    <form method="POST">
        <center><h1>Employee registration</h1></center>
          <label>Emp Id</label><br>
          <input type="number" name="id" required/><br>
          <label>Name</label><br>
          <input type="text" name="name" required/><br>
          <label>Role</label><br>
          <input type="text" name="role" required/><br>
          <label>Mobile</label><br>
          <input type="number" name="mobile" required/><br><br>
          <label>Department</label><br>
          <input type="text" name="dept" required/><br>
          <label>Salary</label><br>
          <input type="number" name="salary" required/><br><br>
          <button>Submit</button>
    
</body>
</html>